<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<preference for="Testing\Testapi\Api\TestInterface" type="Testing\Testapi\Model\Test" />
<preference for="Testing\Testapi\Api\Data\DataInterface" type="Testing\Testapi\Model\Data" />
</config>