<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="Createmenubackend" frontName="Createmenubackend">
            <module name="Demo_CreateMenuBackend" />
        </route>
    </router>
</config>