<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<preference for="Practise\Testapi\Api\Data\DataInterface" type="Practise\Testapi\Model\Grid" />
<preference for="Practise\Testapi\Api\DemoInterface" type="Practise\Testapi\Model\Test" />
</config>